<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:fragment="bootstrap">
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    </th:block>
</head>

<body>

    <th:block th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto gap-5 fs-4">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/pizzas}">View Pizzas</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                            <a class="nav-link" th:href="@{/pizzas/create}">Add a Pizza</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/ingredients}">View Ingredients</a>
                        </li>
                    </ul>
                </div>
                <div class="text-white d-flex flex-column me-3">
                    <p> Hi <span sec:authentication="name" class="fw-bold"></span></p>
                    <p> Roles : <span sec:authentication="principal.authorities" class="fw-bold"></span></p>
                    <p> <a href="/logout" class="fw-bold text-white">Sign out</a></p>
                </div>
            </div>
        </nav>
    </th:block>

    <th:block th:fragment="pizzasButton">
        <a th:href="@{/pizzas}" class="btn btn-light border border-black">
            Pizzas
        </a>
    </th:block>

</body>
<th:block th:fragment="scripts">
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</th:block>

</html>